In [2]:
# chargement des données
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import statsmodels.api as sm
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn import metrics
from scipy.stats import chi2_contingency
import scipy.stats as stats
import os

/usr/lib/python3/dist-packages/statsmodels/compat/pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

In [41]:
hackhaton=pd.read_csv("hackhaton_020k_alea_b.csv",encoding='ISO-8859-1')
hackhaton.drop('Unnamed: 10', axis =1, inplace=True)
hackhaton.drop('Unnamed: 11', axis =1, inplace = True)

C:\Users\Paul Guiraud\AppData\Local\Temp\ipykernel_6904\1111744574.py:1: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  hackhaton=pd.read_csv("hackhaton_020k_alea_b.csv",encoding='ISO-8859-1')

In [44]:
hackhaton

,ID_CARRIERE,date_debut,date_fin,ETAT,CATEGORIE_EMPLOI,QUALITE,STATUT_AGENT,INDICE_BRUT,EMPLOI_STATUTAIRE,LIBELLE_EMPLOI_GRADE
0,56,01/01/1999,26/03/1999,1,A,T,T,NaN,NaN,ADJOINT ADMINISTRATIF.........
1,56,27/03/1999,16/07/1999,1,A,T,T,NaN,NaN,ADJOINT ADMINISTRATIF.........
2,56,17/07/1999,31/12/1999,1,A,T,T,NaN,NaN,ADJOINT ADMINISTRATIF.........
3,56,01/01/2000,02/07/2000,1,A,T,T,NaN,NaN,ADJOINT ADMINISTRATIF.........
4,56,03/07/2000,19/07/2000,1,A,T,T,NaN,NaN,ADJOINT ADMINISTRATIF.........
...,...,...,...,...,...,...,...,...,...,...
1048570,1861885,01/02/2009,28/02/2009,1,A,T,T,303.0,NaN,ADJ PAT 2C
1048571,1861885,01/03/2009,31/03/2009,1,A,T,T,303.0,NaN,ADJ PAT 2C
1048572,1861885,01/04/2009,08/04/2009,1,A,T,T,303.0,NaN,ADJ PAT 2C
1048573,1861885,09/04/2009,19/04/2009,1,A,T,T,303.0,NaN,ADJ PAT 2C
1048574,1861885,20/04/2009,30/04/2009,1,A,T,T,303.0,NaN,ADJ PAT 2C

In [3]:
MAJ_Code=pd.read_csv('neg_net_neh.csv', encoding='UTF-8', sep=';')

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xe8 in position 36: invalid continuation byte

In [147]:
type(MAJ_Code)

pandas.core.frame.DataFrame

In [30]:
with open('neg_net_neh.csv') as f :
    print(f)

<_io.TextIOWrapper name='neg_net_neh.csv' mode='r' encoding='UTF-8'>

In [6]:
MAJ_Code[][MAJ_Code['code_nomenclature_net_nehe'] != MAJ_Code['code_NETH_rempl]]

SyntaxError: invalid syntax (<ipython-input-6-398a1e59b5b6>, line 1)

In [7]:
A=list(np.unique(list(MAJ_Code['code_nomenclature_net_neh'])))
B=list(np.unique(list(MAJ_Code['code_NETH_rempl'])))

B

NameError: name 'MAJ_Code' is not defined

In [8]:
np.unique(A+B)
len(A+B)

NameError: name 'A' is not defined

In [9]:
len(A and B)

NameError: name 'A' is not defined

In [10]:
from collections import Counter

c = Counter(A+B) 
c=dict(c)
number = [a for a,b in c.items() if b == 2]

NameError: name 'A' is not defined

In [11]:
set(A and B) ^ set(number)

NameError: name 'A' is not defined

In [12]:
'S170' in

SyntaxError: invalid syntax (<ipython-input-12-ae62ef8ec10b>, line 1)

In [13]:
'S170' in A

NameError: name 'A' is not defined

In [14]:
'S170' == 'S17076'

False

Retrouver les codes apparaissant dans les deux colonnes pour vérifier les remplacements (Ancien code nouvellement utilisé pour une différente chose.)