In [4]:
# chargement des données
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import statsmodels.api as sm
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn import metrics
from scipy.stats import chi2_contingency
import scipy.stats as stats
import os
import math

In [398]:
hackhaton=pd.read_csv("hackhaton_020k_alea_b.csv",encoding='ISO-8859-1')
hackhaton.drop('Unnamed: 10', axis =1, inplace=True)
hackhaton.drop('Unnamed: 11', axis =1, inplace = True)

In [3]:
hackhaton

,ID_CARRIERE,date_debut,date_fin,ETAT,CATEGORIE_EMPLOI,QUALITE,STATUT_AGENT,INDICE_BRUT,EMPLOI_STATUTAIRE,LIBELLE_EMPLOI_GRADE
0,56,01/01/1999,26/03/1999,1,A,T,T,NaN,NaN,ADJOINT ADMINISTRATIF.........
1,56,27/03/1999,16/07/1999,1,A,T,T,NaN,NaN,ADJOINT ADMINISTRATIF.........
2,56,17/07/1999,31/12/1999,1,A,T,T,NaN,NaN,ADJOINT ADMINISTRATIF.........
3,56,01/01/2000,02/07/2000,1,A,T,T,NaN,NaN,ADJOINT ADMINISTRATIF.........
4,56,03/07/2000,19/07/2000,1,A,T,T,NaN,NaN,ADJOINT ADMINISTRATIF.........
...,...,...,...,...,...,...,...,...,...,...
1048570,1861885,01/02/2009,28/02/2009,1,A,T,T,303.0,NaN,ADJ PAT 2C
1048571,1861885,01/03/2009,31/03/2009,1,A,T,T,303.0,NaN,ADJ PAT 2C
1048572,1861885,01/04/2009,08/04/2009,1,A,T,T,303.0,NaN,ADJ PAT 2C
1048573,1861885,09/04/2009,19/04/2009,1,A,T,T,303.0,NaN,ADJ PAT 2C
1048574,1861885,20/04/2009,30/04/2009,1,A,T,T,303.0,NaN,ADJ PAT 2C

La logique : 

Si un mec est echellon 0 en 5 ans, les 4 années précédentes il etait 0 aussi   
Si un mec est echellon 0, puis rien, puis echellon 0 -> echellon 0

In [4]:
code = hackhaton['EMPLOI_STATUTAIRE']
code=pd.DataFrame(code)
code.columns = ['1']
L= [a if type(a) == str else str(round(a,0)) for a in code['1']]

In [6]:
#Code pour chaque années de travail de chaque individus

index_to_code= dict(zip( [a for a in range(0, len(L))],L))

In [7]:
#Enlever les nan

index_to_code_no_nan = dict( [[a,b] for a,b in index_to_code.items() if b != 'nan'])

In [10]:
pers= hackhaton['ID_CARRIERE']

In [11]:
#Recuperer les indices du passage d'un ind a un autre individu, exactement : la dernière année de chaque individus

ind_pers=[i for i in range(0,len(pers)-1) if pers[i] != pers[i+1]]

In [13]:
len(ind_pers)

14009

In [17]:
i_to_code=pd.DataFrame.from_dict(index_to_code_no_nan, orient='index')
i_to_code=i_to_code.reset_index()
i_to_code

          index     0
0            49  TNJ2
1            50  TNJ2
2            51  TNJ2
3            52  TNJ2
4            53  TNJ2
...         ...   ...
480752  1048555  1314
480753  1048556  1314
480754  1048557  1314
480755  1048558  1314
480756  1048559  1314

[480757 rows x 2 columns]

In [233]:
L=[]
a=0
c=1
for i in ind_pers:
    
    for j in range(0,i-a): 
        L.append(c)
    
    a=i
    c=c+1

In [ ]:
for i in range(0,
    for i in index

In [18]:
hackhaton

,ID_CARRIERE,date_debut,date_fin,ETAT,CATEGORIE_EMPLOI,QUALITE,STATUT_AGENT,INDICE_BRUT,EMPLOI_STATUTAIRE,LIBELLE_EMPLOI_GRADE
0,56,01/01/1999,26/03/1999,1,A,T,T,NaN,NaN,ADJOINT ADMINISTRATIF.........
1,56,27/03/1999,16/07/1999,1,A,T,T,NaN,NaN,ADJOINT ADMINISTRATIF.........
2,56,17/07/1999,31/12/1999,1,A,T,T,NaN,NaN,ADJOINT ADMINISTRATIF.........
3,56,01/01/2000,02/07/2000,1,A,T,T,NaN,NaN,ADJOINT ADMINISTRATIF.........
4,56,03/07/2000,19/07/2000,1,A,T,T,NaN,NaN,ADJOINT ADMINISTRATIF.........
...,...,...,...,...,...,...,...,...,...,...
1048570,1861885,01/02/2009,28/02/2009,1,A,T,T,303.0,NaN,ADJ PAT 2C
1048571,1861885,01/03/2009,31/03/2009,1,A,T,T,303.0,NaN,ADJ PAT 2C
1048572,1861885,01/04/2009,08/04/2009,1,A,T,T,303.0,NaN,ADJ PAT 2C
1048573,1861885,09/04/2009,19/04/2009,1,A,T,T,303.0,NaN,ADJ PAT 2C
1048574,1861885,20/04/2009,30/04/2009,1,A,T,T,303.0,NaN,ADJ PAT 2C

In [ ]:
######################################################################
#### REMPLACER LES GENS QUI ONT LE MEME LIBELLES A PARTIR DE 2011 ####
######################################################################

In [5]:
import warnings
warnings.filterwarnings("ignore")

In [6]:


hackhaton=pd.read_csv("hackhaton_020k_alea_b.csv",encoding='ISO-8859-1')
hackhaton.drop('Unnamed: 10', axis =1, inplace=True)
hackhaton.drop('Unnamed: 11', axis =1, inplace = True)

In [7]:
## TOUS LES TROUS APRES 2011

L1=[]
for i in range (0,1048574) :
    date=hackhaton['date_debut'][i]
    if int(date[6:10])>2011 :
        if str(hackhaton['EMPLOI_STATUTAIRE'][i]) == 'nan':
            L1.append(i)
L1

[144,
 145,
 351,
 378,
 383,
 483,
 484,
 817,
 818,
 1326,
 1327,
 1665,
 1666,
 1687,
 1688,
 2151,
 2152,
 2165,
 2166,
 2170,
 2171,
 2172,
 2173,
 2177,
 2178,
 2179,
 2180,
 2181,
 2182,
 2233,
 2243,
 2244,
 2245,
 2297,
 2406,
 2407,
 2429,
 2468,
 2469,
 2470,
 2471,
 2472,
 2541,
 2542,
 2543,
 2730,
 2731,
 2732,
 2733,
 2734,
 2735,
 2736,
 2783,
 2784,
 2785,
 2927,
 3175,
 3183,
 3184,
 3197,
 3198,
 3199,
 3200,
 3309,
 3310,
 3376,
 3377,
 3440,
 3441,
 3444,
 3446,
 3447,
 3448,
 3449,
 3452,
 3453,
 3454,
 3455,
 3456,
 3457,
 3458,
 3459,
 3460,
 3461,
 3528,
 3534,
 3535,
 3536,
 3537,
 3609,
 3610,
 3855,
 3863,
 3865,
 3929,
 3930,
 3935,
 3936,
 3937,
 3938,
 3939,
 4033,
 4034,
 4065,
 4066,
 4604,
 4605,
 4631,
 4632,
 4633,
 4634,
 4747,
 4749,
 4750,
 4751,
 4973,
 4974,
 4976,
 4977,
 4980,
 5229,
 5234,
 5235,
 5236,
 5237,
 5395,
 5466,
 5467,
 5468,
 5469,
 5487,
 5488,
 5489,
 5490,
 5491,
 5492,
 5493,
 5494,
 5495,
 5496,
 5497,
 5498,
 5499,
 5500,
 5501,
 5502,
 5503,
 5504,
 5505,
 5506,
 5507,
 5508,
 5509,
 5510,
 5590,
 5649,
 5650,
 5651,
 5652,
 5736,
 5737,
 5738,
 5739,
 5771,
 5772,
 5773,
 5774,
 5775,
 5776,
 5777,
 5778,
 5822,
 5870,
 6019,
 6033,
 6034,
 6035,
 6036,
 6095,
 6096,
 6124,
 6126,
 6127,
 6378,
 6379,
 6380,
 6381,
 6497,
 6498,
 6499,
 6500,
 6501,
 6502,
 6503,
 6504,
 6505,
 6506,
 6507,
 6508,
 6509,
 6510,
 6511,
 6682,
 6683,
 6882,
 6883,
 6884,
 6885,
 6886,
 6887,
 6888,
 6889,
 6890,
 6891,
 6892,
 6893,
 6894,
 6895,
 6896,
 6897,
 6898,
 6899,
 6900,
 6901,
 6902,
 6903,
 6904,
 6992,
 6993,
 6994,
 7109,
 7110,
 7111,
 7112,
 7113,
 7114,
 7115,
 7116,
 7117,
 7118,
 7119,
 7120,
 7121,
 7122,
 7123,
 7124,
 7125,
 7126,
 7127,
 7128,
 7129,
 7156,
 7207,
 7212,
 7213,
 7449,
 7849,
 7850,
 7879,
 7880,
 7881,
 7882,
 7883,
 7884,
 7885,
 7886,
 7887,
 8476,
 8477,
 8571,
 8574,
 8669,
 8697,
 8698,
 8850,
 8933,
 8934,
 8935,
 8936,
 8937,
 8940,
 8941,
 8942,
 8943,
 8944,
 8947,
 8948,
 8950,
 8951,
 8952,
 8953,
 8954,
 8955,
 8957,
 8958,
 9103,
 9326,
 9327,
 9445,
 9525,
 9756,
 9791,
 9858,
 10125,
 10126,
 10127,
 10128,
 10129,
 10130,
 10131,
 10132,
 10133,
 10134,
 10135,
 10136,
 10137,
 10138,
 10139,
 10140,
 10141,
 10142,
 10143,
 10144,
 10145,
 10146,
 10147,
 10148,
 10149,
 10150,
 10151,
 10152,
 10153,
 10154,
 10155,
 10156,
 10157,
 10158,
 10159,
 10160,
 10161,
 10162,
 10163,
 10164,
 10165,
 10166,
 10167,
 10168,
 10169,
 10170,
 10171,
 10172,
 10173,
 10174,
 10192,
 10193,
 10194,
 10195,
 10196,
 10197,
 10198,
 10199,
 10200,
 10201,
 10202,
 10203,
 10204,
 10205,
 10206,
 10207,
 10208,
 10209,
 10210,
 10211,
 10212,
 10213,
 10214,
 10215,
 10216,
 10217,
 10218,
 10219,
 10220,
 10221,
 10222,
 10223,
 10224,
 10225,
 10226,
 10227,
 10228,
 10229,
 10230,
 10231,
 10232,
 10233,
 10234,
 10235,
 10236,
 10237,
 10238,
 10239,
 10240,
 10241,
 10242,
 10423,
 10427,
 10428,
 10429,
 10430,
 10431,
 10432,
 10473,
 10474,
 10475,
 10476,
 10477,
 10478,
 10479,
 10480,
 10481,
 10482,
 10483,
 10484,
 10485,
 10486,
 10487,
 10488,
 10702,
 11110,
 11111,
 11169,
 11189,
 11190,
 11191,
 11573,
 11574,
 11575,
 11620,
 11713,
 11743,
 11744,
 11745,
 11746,
 11747,
 11748,
 11847,
 11848,
 11849,
 11850,
 11851,
 11852,
 11853,
 11854,
 11855,
 11856,
 11857,
 11858,
 11859,
 11860,
 11861,
 11862,
 11863,
 11864,
 11865,
 11866,
 12049,
 12050,
 12051,
 12090,
 12091,
 12092,
 12093,
 12265,
 12273,
 12508,
 12606,
 12693,
 12933,
 12938,
 12939,
 13366,
 13367,
 13368,
 13617,
 13618,
 13669,
 13748,
 13749,
 13802,
 13935,
 13957,
 13958,
 13959,
 14616,
 14642,
 14643,
 14725,
 14726,
 14727,
 14728,
 14729,
 14730,
 14924,
 15256,
 15503,
 15505,
 15506,
 15938,
 15939,
 15943,
 15982,
 15983,
 16127,
 16326,
 16327,
 16391,
 16491,
 16492,
 16648,
 16649,
 16650,
 16651,
 16652,
 16743,
 17007,
 17009,
 17099,
 17271,
 17272,
 17273,
 17274,
 17275,
 17276,
 17277,
 17278,
 17279,
 17280,
 17281,
 17282,
 17283,
 17284,
 17416,
 17421,
 18083,
 18084,
 18085,
 18149,
 18406,
 18407,
 18458,
 18465,
 18489,
 18490,
 18491,
 18492,
 18493,
 18509,
 18510,
 18511,
 18512,
 18513,
 18514,
 18566,
 18567,
 18568,
 18569,
 18570,
 18571,
 18572,
 18602,
 18603,
 18609,
 18610,
 18836,
 18838,
 18839,
 18859,
 18860,
 18861,
 19354,
 19355,
 19356,
 19357,
 19358,
 19359,
 19360,
 19361,
 19380,
 19382,
 19383,
 19384,
 19385,
 19386,
 19387,
 19388,
 19757,
 19758,
 19824,
 19973,
 19974,
 20012,
 20015,
 20016,
 20020,
 20021,
 20026,
 20027,
 20028,
 20029,
 20083,
 20205,
 20206,
 20207,
 20208,
 20209,
 20210,
 20211,
 20239,
 20240,
 20327,
 20328,
 20329,
 20382,
 20466,
 20488,
 20492,
 20493,
 20662,
 20663,
 20722,
 20723,
 20724,
 20756,
 20758,
 20759,
 20760,
 20761,
 20779,
 20878,
 20888,
 20945,
 20946,
 20947,
 20948,
 20949,
 20950,
 21011,
 21012,
 21013,
 21014,
 21068,
 21138,
 21139,
 21140,
 21291,
 21292,
 21293,
 21294,
 21295,
 21296,
 21297,
 21298,
 21299,
 21300,
 21301,
 21302,
 21303,
 21380,
 21381,
 21419,
 21596,
 21597,
 22160,
 22161,
 22201,
 22202,
 22203,
 22204,
 22205,
 22206,
 22207,
 22208,
 22209,
 22210,
 22211,
 22212,
 22213,
 22214,
 22215,
 22231,
 22270,
 22271,
 22272,
 22273,
 22274,
 22284,
 22285,
 22327,
 22478,
 22479,
 22480,
 22848,
 22849,
 22850,
 23003,
 23431,
 23462,
 23463,
 23478,
 23479,
 23537,
 23538,
 23721,
 24088,
 24089,
 24259,
 24278,
 24315,
 24357,
 24459,
 24523,
 24524,
 24525,
 24720,
 24721,
 24948,
 24949,
 24950,
 25000,
 25004,
 25005,
 25220,
 25221,
 25222,
 25223,
 25224,
 25225,
 25226,
 25227,
 25228,
 25229,
 25230,
 25231,
 25232,
 25233,
 25234,
 25235,
 25236,
 25237,
 25238,
 25239,
 25240,
 25241,
 25242,
 25243,
 25244,
 25245,
 25246,
 25247,
 25248,
 25249,
 25250,
 25251,
 25252,
 25253,
 25254,
 25255,
 25256,
 25257,
 25258,
 25259,
 25260,
 25261,
 25262,
 25263,
 25264,
 25265,
 25266,
 25267,
 25268,
 25269,
 25270,
 25271,
 25272,
 25273,
 25274,
 25275,
 25276,
 25277,
 25278,
 25279,
 25280,
 25281,
 25282,
 25283,
 25284,
 25285,
 25286,
 25287,
 25288,
 25289,
 25290,
 25291,
 25292,
 25293,
 25294,
 25295,
 25296,
 25297,
 25298,
 25299,
 25300,
 25301,
 25302,
 25303,
 25304,
 25305,
 25306,
 25307,
 25308,
 25309,
 25310,
 25311,
 25312,
 25313,
 25314,
 25315,
 25316,
 25317,
 25318,
 25319,
 25320,
 25321,
 25322,
 25323,
 25426,
 25427,
 25428,
 25429,
 25430,
 25431,
 25432,
 25433,
 25434,
 25435,
 25436,
 25437,
 25438,
 25439,
 25440,
 25441,
 25442,
 25443,
 25444,
 25445,
 25446,
 25447,
 25448,
 25449,
 25450,
 25451,
 25452,
 25453,
 25454,
 25455,
 25456,
 25457,
 25458,
 25459,
 25460,
 25461,
 25462,
 25463,
 25464,
 25465,
 25466,
 25467,
 25468,
 25469,
 25470,
 25471,
 25472,
 25473,
 25474,
 25475,
 25476,
 25477,
 25478,
 25479,
 25480,
 25481,
 25482,
 25483,
 25484,
 25485,
 25486,
 25487,
 25488,
 25489,
 25490,
 25491,
 25492,
 25493,
 25494,
 25495,
 25496,
 25497,
 25498,
 25499,
 25500,
 25501,
 25502,
 25503,
 25504,
 25505,
 25506,
 25507,
 25508,
 25509,
 25510,
 25511,
 25512,
 25513,
 25514,
 25515,
 25516,
 25517,
 25518,
 25824,
 25825,
 25920,
 25921,
 25922,
 25923,
 25924,
 25925,
 25926,
 25927,
 25928,
 25929,
 25930,
 25931,
 25932,
 25933,
 27138,
 27139,
 27215,
 27216,
 27217,
 27218,
 27462,
 27463,
 27464,
 27465,
 27466,
 27467,
 27468,
 27469,
 27533,
 27534,
 27535,
 27536,
 27708,
 27709,
 27710,
 27747,
 27748,
 27801,
 28082,
 28117,
 28118,
 28119,
 28162,
 28163,
 28164,
 28461,
 28462,
 28493,
 28494,
 28495,
 28583,
 28584,
 28588,
 28937,
 28938,
 28939,
 28940,
 28941,
 28942,
 28943,
 28944,
 28945,
 28946,
 28947,
 28948,
 28949,
 28999,
 29053,
 29054,
 29196,
 ...]

In [8]:
## Liste des gens a qui il manque des valeurs apres 2011

L=[hackhaton['ID_CARRIERE'][i] for i in L1]
L = list(set(L))
L=sorted(L)

In [9]:
len(L)

6045

In [10]:
hackhaton2=hackhaton

C:\Users\Paul Guiraud\AppData\Local\Temp\ipykernel_8452\1111744574.py:1: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  hackhaton=pd.read_csv("hackhaton_020k_alea_b.csv",encoding='ISO-8859-1')

In [11]:

ind=0
arret=0
compteur = 0
for t in L : 
    #arret=arret+1
    #if arret == 100 :
        #break
    #compteur = 1+ compteur
    #print(compteur ,'personne sur' , len(L))
        
    df=hackhaton2[hackhaton2.ID_CARRIERE== t]
    
    if len(df)<2:
        pass
    
    ## Nombre de ligne avant 2011
    df = df.reset_index()

    i=0           
    while str(df['EMPLOI_STATUTAIRE'][i]) == 'nan' and (i+1 < len(df)) :
            i=i+1
    
    ##Drop les lignes avant 2011
    df.drop([n for n in range (0,i)], inplace=True)

    if len(df)<2:
        pass

    for k in range (i+1,len(df)+i): 

        if str(df['EMPLOI_STATUTAIRE'][k]) == 'nan' : 

            libelle_avant_nan=df['LIBELLE_EMPLOI_GRADE'][k-1]
            libelle_du_nan=df['LIBELLE_EMPLOI_GRADE'][k]
            if libelle_avant_nan == libelle_du_nan :

                #si egalité des libellés, on remplace (df['EMPLOI_STATUTAIRE'][i])
                #df.iloc[k,9]=df['EMPLOI_STATUTAIRE'][k-1]
                hackhaton2['EMPLOI_STATUTAIRE'][df['index'][k]]=df['EMPLOI_STATUTAIRE'][k-1]
                df['EMPLOI_STATUTAIRE'][k]=df['EMPLOI_STATUTAIRE'][k-1]

In [12]:
L2=[]
for i in range (0,1048574) :
    date=hackhaton2['date_debut'][i]
    if int(date[6:10])>2011 :
        if str(hackhaton2['EMPLOI_STATUTAIRE'][i]) == 'nan':
            L2.append(i)
L2

[144,
 145,
 483,
 484,
 2233,
 2245,
 2407,
 2429,
 2468,
 2469,
 2470,
 2471,
 2472,
 2784,
 2785,
 3452,
 3453,
 3454,
 3455,
 3456,
 3457,
 3458,
 3459,
 3460,
 3461,
 3929,
 3930,
 4604,
 4605,
 4977,
 5236,
 5237,
 5395,
 5649,
 5650,
 5651,
 5652,
 5736,
 5737,
 5738,
 5739,
 5771,
 5772,
 5773,
 5774,
 5775,
 5776,
 5777,
 5778,
 5822,
 6096,
 6126,
 6127,
 6497,
 6498,
 6499,
 6500,
 6501,
 6502,
 6503,
 6504,
 6505,
 6506,
 6507,
 6508,
 6509,
 6510,
 6511,
 6682,
 6683,
 6889,
 6890,
 6891,
 6892,
 6893,
 6894,
 6895,
 6896,
 6897,
 6898,
 6899,
 6900,
 6901,
 6902,
 6903,
 6904,
 7207,
 7849,
 7850,
 8476,
 8477,
 8697,
 8698,
 8935,
 8936,
 8937,
 9525,
 9791,
 10125,
 10126,
 10127,
 10128,
 10129,
 10130,
 10131,
 10132,
 10133,
 10134,
 10135,
 10136,
 10137,
 10138,
 10139,
 10140,
 10141,
 10142,
 10143,
 10144,
 10145,
 10146,
 10147,
 10148,
 10149,
 10150,
 10151,
 10152,
 10153,
 10154,
 10155,
 10156,
 10157,
 10158,
 10159,
 10160,
 10161,
 10162,
 10163,
 10164,
 10165,
 10166,
 10167,
 10168,
 10169,
 10170,
 10171,
 10172,
 10173,
 10174,
 10473,
 10474,
 10475,
 10476,
 10477,
 10478,
 10479,
 10480,
 10481,
 10482,
 10483,
 10484,
 10485,
 10486,
 10487,
 10488,
 11169,
 11190,
 11191,
 11847,
 11848,
 11849,
 11850,
 11851,
 11852,
 11853,
 11854,
 11855,
 11856,
 11857,
 11858,
 11859,
 11860,
 11861,
 11862,
 11863,
 11864,
 11865,
 11866,
 12508,
 12933,
 12938,
 12939,
 13366,
 13367,
 13368,
 13617,
 13618,
 13748,
 13749,
 13935,
 13957,
 13958,
 13959,
 14725,
 14726,
 14727,
 14728,
 14729,
 14730,
 15256,
 15982,
 15983,
 16491,
 16492,
 16743,
 18149,
 18509,
 18510,
 18511,
 18512,
 18513,
 18514,
 18566,
 18567,
 18568,
 18569,
 18570,
 18571,
 18572,
 19354,
 19355,
 19356,
 19357,
 19358,
 19359,
 19360,
 19361,
 19757,
 19758,
 19973,
 19974,
 20012,
 20205,
 20206,
 20207,
 20208,
 20209,
 20210,
 20211,
 20329,
 20722,
 20723,
 20724,
 20756,
 20758,
 20759,
 20760,
 20761,
 20779,
 20888,
 21139,
 21140,
 21291,
 21292,
 21293,
 21294,
 21295,
 21296,
 21297,
 21298,
 21299,
 21300,
 21301,
 21302,
 21303,
 22201,
 22202,
 22203,
 22204,
 22205,
 22206,
 22207,
 22208,
 22209,
 22210,
 22211,
 22212,
 22213,
 22214,
 22215,
 22270,
 22271,
 22272,
 22273,
 22274,
 22327,
 22478,
 22479,
 22480,
 22848,
 22849,
 22850,
 23003,
 23431,
 23462,
 23463,
 24088,
 24089,
 24315,
 24720,
 24721,
 25000,
 25004,
 25005,
 25220,
 25221,
 25222,
 25223,
 25224,
 25225,
 25226,
 25227,
 25228,
 25229,
 25230,
 25231,
 25232,
 25233,
 25234,
 25235,
 25236,
 25237,
 25238,
 25239,
 25240,
 25241,
 25242,
 25243,
 25244,
 25245,
 25246,
 25247,
 25248,
 25249,
 25250,
 25251,
 25252,
 25253,
 25254,
 25255,
 25256,
 25257,
 25258,
 25259,
 25260,
 25261,
 25262,
 25263,
 25264,
 25265,
 25266,
 25267,
 25268,
 25269,
 25270,
 25271,
 25272,
 25273,
 25274,
 25275,
 25276,
 25277,
 25278,
 25279,
 25280,
 25281,
 25282,
 25283,
 25284,
 25285,
 25286,
 25287,
 25288,
 25289,
 25290,
 25291,
 25292,
 25293,
 25294,
 25295,
 25296,
 25297,
 25298,
 25299,
 25300,
 25301,
 25302,
 25303,
 25304,
 25305,
 25306,
 25307,
 25308,
 25309,
 25310,
 25311,
 25312,
 25313,
 25314,
 25315,
 25316,
 25317,
 25318,
 25319,
 25320,
 25321,
 25322,
 25323,
 25427,
 25428,
 25429,
 25430,
 25431,
 25432,
 25433,
 25434,
 25435,
 25436,
 25437,
 25438,
 25439,
 25440,
 25441,
 25442,
 25443,
 25444,
 25445,
 25446,
 25447,
 25448,
 25449,
 25450,
 25451,
 25452,
 25453,
 25454,
 25455,
 25456,
 25457,
 25458,
 25459,
 25460,
 25461,
 25462,
 25463,
 25464,
 25465,
 25466,
 25467,
 25468,
 25469,
 25470,
 25471,
 25472,
 25473,
 25474,
 25475,
 25476,
 25477,
 25478,
 25479,
 25480,
 25481,
 25482,
 25483,
 25484,
 25485,
 25486,
 25487,
 25488,
 25489,
 25490,
 25491,
 25492,
 25493,
 25494,
 25495,
 25496,
 25497,
 25498,
 25499,
 25500,
 25501,
 25502,
 25503,
 25504,
 25505,
 25506,
 25507,
 25508,
 25509,
 25510,
 25511,
 25512,
 25513,
 25514,
 25515,
 25516,
 25517,
 25518,
 25920,
 25921,
 25922,
 25923,
 25924,
 25925,
 25926,
 25927,
 25928,
 25929,
 25930,
 25931,
 25932,
 25933,
 27747,
 27748,
 27801,
 28082,
 28162,
 28163,
 28164,
 28461,
 28462,
 28493,
 28494,
 28495,
 28937,
 28938,
 28939,
 28940,
 28941,
 28942,
 28943,
 28944,
 28945,
 28946,
 28947,
 28948,
 28949,
 28999,
 29196,
 29197,
 29198,
 29199,
 29200,
 29201,
 29255,
 29488,
 29489,
 29534,
 29575,
 29582,
 30031,
 30032,
 30033,
 30034,
 30268,
 30269,
 30348,
 30349,
 30350,
 30351,
 30352,
 30353,
 30354,
 30471,
 30472,
 30473,
 30533,
 30534,
 30639,
 30640,
 30641,
 31059,
 31060,
 31061,
 31062,
 31972,
 32358,
 32364,
 32386,
 32387,
 32470,
 33899,
 33900,
 34094,
 34095,
 35251,
 35252,
 35253,
 35257,
 35258,
 35259,
 35261,
 35262,
 35264,
 35265,
 35267,
 35270,
 35271,
 35272,
 35273,
 35274,
 35275,
 35276,
 35277,
 35278,
 35656,
 35836,
 35837,
 35838,
 35884,
 35897,
 35898,
 35899,
 35900,
 35901,
 36103,
 36190,
 36191,
 36385,
 36466,
 36467,
 36674,
 37473,
 37522,
 37523,
 37587,
 38221,
 38222,
 38223,
 38224,
 38225,
 38226,
 38227,
 38228,
 38229,
 38230,
 38231,
 38232,
 38233,
 38234,
 38235,
 38236,
 38237,
 38238,
 38536,
 38537,
 38538,
 38539,
 38540,
 38541,
 38687,
 39994,
 40052,
 40409,
 40431,
 40432,
 40433,
 40473,
 40474,
 40475,
 40476,
 40477,
 41004,
 41005,
 41154,
 41155,
 41159,
 41160,
 41168,
 41169,
 41170,
 41202,
 41205,
 41663,
 41664,
 41705,
 41711,
 42337,
 42338,
 42339,
 42340,
 42415,
 42416,
 42563,
 44152,
 44153,
 44464,
 44465,
 44466,
 44467,
 44468,
 45245,
 45288,
 45536,
 45599,
 45866,
 45867,
 45868,
 45869,
 45870,
 45871,
 45872,
 46638,
 46639,
 47065,
 47396,
 47397,
 47398,
 47399,
 47400,
 47401,
 47402,
 47403,
 47674,
 47942,
 47943,
 47946,
 48356,
 48357,
 48360,
 48361,
 48569,
 48681,
 48682,
 48683,
 49126,
 49127,
 49211,
 49685,
 49686,
 49687,
 50274,
 50514,
 50515,
 50516,
 50517,
 50518,
 50785,
 50896,
 51418,
 51419,
 51420,
 52134,
 52369,
 52370,
 52950,
 52951,
 52952,
 52953,
 52986,
 52987,
 52988,
 53023,
 53469,
 53516,
 53517,
 53849,
 53850,
 53851,
 53852,
 53907,
 53908,
 53909,
 53964,
 54145,
 54146,
 54147,
 54148,
 54149,
 54150,
 54151,
 54152,
 54153,
 54154,
 54155,
 54156,
 54157,
 54158,
 54159,
 54273,
 54332,
 54709,
 55526,
 55531,
 55532,
 55533,
 56139,
 56140,
 56606,
 56972,
 56978,
 57016,
 57017,
 57018,
 57019,
 57020,
 57021,
 58183,
 58184,
 58185,
 58186,
 58194,
 59066,
 59067,
 59800,
 59990,
 60381,
 60444,
 60636,
 60637,
 60638,
 60639,
 60942,
 60943,
 60976,
 61245,
 61246,
 61247,
 61248,
 61249,
 61250,
 61550,
 61551,
 61552,
 61553,
 62171,
 62205,
 62334,
 62917,
 62918,
 62935,
 63301,
 63302,
 63303,
 63304,
 63305,
 63306,
 63307,
 63308,
 63314,
 63971,
 63972,
 63973,
 63974,
 63975,
 63976,
 63977,
 63978,
 63979,
 63980,
 63981,
 63982,
 63983,
 63984,
 63985,
 63986,
 63987,
 63988,
 63989,
 63990,
 63991,
 63992,
 63993,
 64176,
 64177,
 64178,
 64751,
 65391,
 65392,
 65889,
 65936,
 66064,
 66415,
 66703,
 66709,
 66758,
 66759,
 66760,
 66761,
 66762,
 66763,
 66764,
 66765,
 66766,
 66767,
 66768,
 66769,
 66770,
 66771,
 66772,
 66773,
 66774,
 66775,
 66776,
 66777,
 66778,
 66779,
 66780,
 66781,
 66782,
 66783,
 66784,
 66785,
 66786,
 66787,
 66788,
 66789,
 66790,
 66791,
 66792,
 66793,
 66794,
 66795,
 66796,
 66932,
 67445,
 67682,
 67837,
 68244,
 68245,
 68246,
 68290,
 68291,
 68444,
 68445,
 69855,
 70292,
 70293,
 70907,
 70912,
 71457,
 71458,
 71459,
 71586,
 71587,
 71663,
 71664,
 71665,
 71666,
 71667,
 71668,
 71669,
 71670,
 71671,
 71672,
 71673,
 71674,
 71675,
 71676,
 71677,
 71678,
 71679,
 71680,
 71681,
 71682,
 71683,
 71684,
 71685,
 71686,
 71687,
 71688,
 71689,
 71690,
 71691,
 71692,
 71693,
 71694,
 71695,
 71696,
 71697,
 71698,
 71699,
 71700,
 71701,
 71702,
 71703,
 71704,
 71705,
 71706,
 71707,
 71708,
 71709,
 71710,
 71711,
 71712,
 71713,
 71714,
 71715,
 71716,
 ...]

In [13]:
print(len(L1)-len(L2)) #nombre de valeur manquates remplacées

La=[hackhaton2['ID_CARRIERE'][i] for i in L2]
La= list(set(La))
La=sorted(La)
print("il reste", len(La), "individus avec des trous après 2011")

17782
il reste 3200 individus avec des trous après 2011

In [14]:
hackhaton2.to_csv('hackhaton2.csv')

In [408]:
La

[143,
 1532,
 4358,
 4602,
 4777,
 5601,
 6302,
 7557,
 8275,
 8845,
 9426,
 9870,
 10080,
 10091,
 10356,
 10506,
 11294,
 11860,
 11892,
 12025,
 12213,
 12820,
 13766,
 14433,
 14756,
 16147,
 17299,
 18301,
 18305,
 19116,
 19696,
 20508,
 22026,
 23221,
 24068,
 24132,
 24325,
 24446,
 24579,
 25210,
 26469,
 27258,
 27902,
 28783,
 30079,
 30447,
 30523,
 31625,
 31717,
 32520,
 32679,
 33110,
 33192,
 33995,
 34027,
 34099,
 34230,
 35488,
 35559,
 37330,
 37801,
 37971,
 38395,
 38881,
 39331,
 39890,
 40252,
 41485,
 41833,
 42115,
 42568,
 43044,
 43395,
 45640,
 45702,
 46217,
 46264,
 47089,
 47360,
 49303,
 49543,
 50041,
 50075,
 50431,
 50509,
 50536,
 51473,
 51846,
 52040,
 52191,
 52337,
 52745,
 53482,
 54550,
 55286,
 55371,
 55379,
 56775,
 57080,
 58829,
 59314,
 59575,
 59611,
 59662,
 59981,
 60352,
 60371,
 60448,
 61056,
 61111,
 61285,
 62777,
 63280,
 63913,
 65095,
 65145,
 66026,
 66111,
 67373,
 67606,
 67729,
 67963,
 68232,
 68791,
 68953,
 69607,
 71864,
 72375,
 73830,
 74078,
 74266,
 74696,
 74932,
 75641,
 76929,
 77404,
 77712,
 78171,
 78940,
 79419,
 79568,
 80111,
 80387,
 80807,
 81499,
 82058,
 82911,
 83096,
 84672,
 85728,
 86281,
 87732,
 87833,
 88205,
 88990,
 89247,
 89256,
 89695,
 89700,
 89754,
 90452,
 93037,
 95108,
 95766,
 96676,
 98609,
 100445,
 102623,
 103266,
 103906,
 103927,
 104043,
 104566,
 104567,
 105090,
 105916,
 106805,
 106948,
 107894,
 108303,
 109032,
 109776,
 110433,
 111379,
 112055,
 112137,
 112704,
 114352,
 114550,
 114559,
 114631,
 115298,
 116004,
 116173,
 116774,
 116784,
 116955,
 119257,
 119434,
 120365,
 121591,
 121773,
 122064,
 122143,
 122261,
 122833,
 123089,
 123497,
 123591,
 123828,
 124032,
 125988,
 126108,
 127097,
 129443,
 129629,
 131185,
 131496,
 131951,
 132070,
 132364,
 133270,
 134761,
 135005,
 135461,
 135991,
 136022,
 136062,
 137444,
 139053,
 139064,
 140580,
 141057,
 141381,
 141886,
 141965,
 143406,
 143452,
 143461,
 144113,
 144145,
 144331,
 144429,
 144436,
 144691,
 145455,
 145511,
 145923,
 147043,
 147709,
 147932,
 148126,
 148767,
 148887,
 149359,
 149775,
 150393,
 150428,
 150760,
 150867,
 151791,
 152690,
 153528,
 153991,
 155692,
 155973,
 156158,
 156222,
 156425,
 156464,
 157037,
 158919,
 160169,
 160329,
 160665,
 160840,
 161640,
 161709,
 162787,
 163647,
 164622,
 164831,
 164853,
 165351,
 165733,
 166463,
 168651,
 169013,
 169549,
 169574,
 170160,
 170173,
 170300,
 170647,
 170816,
 171080,
 171084,
 171561,
 171604,
 171976,
 172140,
 172411,
 172563,
 172937,
 173955,
 174208,
 175048,
 175437,
 176493,
 176667,
 177618,
 177750,
 178576,
 178764,
 178903,
 179028,
 179588,
 180814,
 181505,
 181761,
 183183,
 183566,
 184012,
 185763,
 186029,
 186959,
 187227,
 187267,
 187803,
 188108,
 189034,
 190386,
 190670,
 190812,
 192139,
 192322,
 192712,
 192778,
 192938,
 194426,
 194755,
 195518,
 195677,
 195708,
 196179,
 196875,
 197663,
 199138,
 200570,
 200739,
 202008,
 203191,
 203327,
 204025,
 204104,
 204199,
 204669,
 204912,
 205234,
 206323,
 206453,
 208405,
 208948,
 209653,
 210007,
 210104,
 210495,
 211548,
 212626,
 214125,
 214266,
 214719,
 215039,
 215055,
 215556,
 216466,
 216739,
 217010,
 217183,
 217192,
 217378,
 217525,
 217656,
 217786,
 218113,
 218427,
 218631,
 218696,
 218877,
 219046,
 219622,
 219838,
 220979,
 221033,
 221230,
 221579,
 222496,
 222502,
 222848,
 222859,
 223422,
 223508,
 223671,
 224104,
 224820,
 224988,
 225404,
 225873,
 227060,
 227074,
 227295,
 228371,
 228723,
 229106,
 229243,
 229535,
 229577,
 229716,
 229948,
 230788,
 230800,
 231147,
 231388,
 232209,
 232265,
 232682,
 232989,
 234273,
 235052,
 235562,
 235906,
 236281,
 236514,
 236899,
 237698,
 237865,
 238569,
 239114,
 239954,
 240637,
 240814,
 241209,
 241566,
 241620,
 242115,
 242499,
 243108,
 243998,
 244877,
 245557,
 246267,
 246640,
 246688,
 246896,
 246930,
 247013,
 247853,
 248341,
 248351,
 248617,
 248865,
 248913,
 249128,
 250795,
 251036,
 251327,
 253271,
 253692,
 253753,
 254346,
 254372,
 254570,
 255673,
 255733,
 255753,
 255913,
 256100,
 256454,
 256795,
 257605,
 257779,
 258336,
 258374,
 259472,
 260252,
 261526,
 263410,
 263922,
 264671,
 265727,
 265829,
 266941,
 267228,
 268812,
 268959,
 269009,
 269027,
 269252,
 269442,
 270566,
 270811,
 271001,
 271343,
 271480,
 272186,
 272434,
 272457,
 273229,
 273772,
 274207,
 276126,
 276436,
 277451,
 277603,
 277766,
 277784,
 278164,
 278747,
 279639,
 280188,
 280692,
 280977,
 281570,
 282283,
 282876,
 282935,
 282978,
 283681,
 283778,
 284109,
 284709,
 286056,
 288052,
 288256,
 288477,
 290614,
 290719,
 291983,
 292028,
 292106,
 292250,
 292921,
 293165,
 293208,
 293477,
 295030,
 295468,
 295972,
 296756,
 299009,
 299041,
 299837,
 300571,
 300925,
 301181,
 301553,
 301765,
 302106,
 302118,
 302525,
 302970,
 304706,
 305077,
 306033,
 306371,
 307599,
 307802,
 308038,
 308117,
 309392,
 310243,
 311394,
 312306,
 312589,
 312734,
 312818,
 313797,
 313988,
 314208,
 315588,
 315886,
 316955,
 317107,
 318211,
 318445,
 318462,
 318845,
 319386,
 319390,
 319506,
 319834,
 319954,
 320557,
 320700,
 320749,
 321868,
 322044,
 322333,
 323342,
 323749,
 323846,
 324088,
 324218,
 324687,
 325790,
 326375,
 327233,
 327898,
 328297,
 329335,
 330308,
 331272,
 331793,
 332457,
 332560,
 333032,
 333390,
 333468,
 333856,
 334855,
 335730,
 335806,
 335874,
 336469,
 337071,
 337761,
 337831,
 337913,
 338251,
 338494,
 338741,
 338825,
 339279,
 339353,
 340287,
 340340,
 340670,
 340679,
 341031,
 342494,
 343057,
 343306,
 343763,
 344820,
 346073,
 346229,
 347376,
 347467,
 347582,
 347717,
 348353,
 348427,
 349692,
 350128,
 350129,
 350280,
 350598,
 350728,
 350935,
 351160,
 352387,
 352704,
 353301,
 354520,
 354711,
 354750,
 355009,
 356101,
 356110,
 356589,
 358188,
 358202,
 358286,
 358828,
 359270,
 360147,
 360248,
 360901,
 361212,
 361429,
 361533,
 361760,
 361765,
 362162,
 362175,
 363071,
 363158,
 363568,
 363684,
 363758,
 365080,
 365545,
 365788,
 366898,
 366952,
 368073,
 368504,
 370746,
 370887,
 370945,
 371481,
 371567,
 371947,
 372560,
 372632,
 373246,
 373501,
 373909,
 374048,
 374106,
 374309,
 374424,
 375043,
 377347,
 377631,
 377634,
 378325,
 379029,
 379202,
 379352,
 379578,
 380048,
 380122,
 381504,
 382292,
 383155,
 383238,
 383414,
 383757,
 383834,
 384100,
 384905,
 385118,
 385326,
 386053,
 386182,
 386749,
 387208,
 387726,
 388322,
 388703,
 389010,
 389414,
 389966,
 390275,
 390731,
 391552,
 391729,
 392450,
 392808,
 392937,
 393010,
 393048,
 393159,
 393469,
 395884,
 396906,
 397242,
 397340,
 397441,
 398587,
 398742,
 399192,
 399719,
 399775,
 400008,
 400995,
 401857,
 401995,
 402297,
 403808,
 404605,
 405713,
 406411,
 406493,
 407160,
 407408,
 408390,
 408505,
 409043,
 409506,
 409588,
 409936,
 409991,
 410079,
 410499,
 411100,
 411488,
 411699,
 412012,
 413204,
 413223,
 413366,
 413921,
 414407,
 414690,
 415598,
 416004,
 416120,
 418599,
 419019,
 419365,
 419591,
 420265,
 420603,
 421084,
 421099,
 421110,
 421765,
 421903,
 421910,
 422712,
 423195,
 423823,
 423986,
 424624,
 424749,
 424876,
 424990,
 425450,
 425985,
 426012,
 426299,
 426616,
 427038,
 427100,
 427406,
 428260,
 428270,
 428781,
 429797,
 429885,
 430727,
 431003,
 431202,
 431840,
 432209,
 432932,
 433092,
 433114,
 433185,
 433350,
 433655,
 434641,
 435018,
 436060,
 436406,
 436436,
 436794,
 436936,
 438078,
 438172,
 438379,
 439676,
 440255,
 440362,
 441306,
 441639,
 441749,
 442517,
 443403,
 443563,
 444544,
 444956,
 446279,
 446975,
 447818,
 448805,
 449015,
 449045,
 449116,
 450267,
 451747,
 451770,
 453708,
 454195,
 455031,
 455618,
 455900,
 456282,
 457606,
 459605,
 462655,
 462691,
 462892,
 463079,
 463990,
 466209,
 467729,
 467778,
 468519,
 468720,
 468857,
 468985,
 469588,
 469958,
 470089,
 470233,
 471693,
 471782,
 472466,
 472602,
 473809,
 474261,
 474278,
 475111,
 476639,
 477844,
 478731,
 478769,
 478878,
 479421,
 479918,
 480390,
 481923,
 481952,
 482478,
 482948,
 483251,
 484402,
 484458,
 484720,
 485857,
 486193,
 487333,
 487815,
 488211,
 489927,
 489961,
 491678,
 491808,
 492352,
 492376,
 494588,
 494684,
 495107,
 495393,
 495902,
 496759,
 497542,
 497645,
 498230,
 498535,
 499213,
 499475,
 501650,
 501892,
 501898,
 502199,
 502506,
 502791,
 502922,
 503124,
 503671,
 505407,
 505419,
 505513,
 506396,
 506718,
 507193,
 507807,
 507859,
 507902,
 508097,
 509216,
 510052,
 510573,
 510771,
 512329,
 513154,
 513570,
 513866,
 514053,
 514428,
 514945,
 515611,
 515729,
 516088,
 516350,
 517006,
 517202,
 517389,
 517506,
 517687,
 518649,
 518731,
 518922,
 520013,
 520896,
 521102,
 521610,
 521773,
 522518,
 522545,
 522936,
 523791,
 524076,
 524436,
 525112,
 525682,
 ...]

In [ ]:
################################################################
### REMPLACER S'ILS N'ONT PAS UPGRADE DE POSTE ENTRE 2 TROUS ###
################################################################

#conditions de remplacement : soit grade 1 apres Nan soit meme grade avant et après 
# que veut ire être grade 1 ?

In [394]:
df=hackhaton[hackhaton.ID_CARRIERE== 4015]

In [396]:
if len(df)<2:
    pass

## Nombre de ligne avant 2011
df = df.reset_index()

i=0           
while str(df['EMPLOI_STATUTAIRE'][i]) == 'nan' and (i+1 < len(df)) :
        i=i+1

##Drop les lignes avant 2011
df.drop([n for n in range (0,i)], inplace=True)

if len(df)<2:
    pass

for k in range (i+1,len(df)+i): 

    if str(df['EMPLOI_STATUTAIRE'][k]) == 'nan' : 

        libelle_avant_nan=df['LIBELLE_EMPLOI_GRADE'][k-1]
        libelle_du_nan=df['LIBELLE_EMPLOI_GRADE'][k]
        if libelle_avant_nan == libelle_du_nan :
            #si egalité des libellés, on remplace (df['EMPLOI_STATUTAIRE'][i])
            #df.iloc[k,9]=df['EMPLOI_STATUTAIRE'][k-1]
            df['EMPLOI_STATUTAIRE'][k]=df['EMPLOI_STATUTAIRE'][k-1]

In [378]:
hackhaton2['EMPLOI_STATUTAIRE'][df['index'][42]]

nan

In [260]:
## TEST 1##
##########


hackhaton2=hackhaton

## Nombre de ligne avant 2011
df = df.reset_index()

i=0           
while int(df.date_debut[i][6:10])!=2011 : 
        i=i+1
        
print(i)
##Drop les lignes avant 2011
df.drop([n for n in range (0,i)], inplace=True)

for k in range (i,len(df)+i): 

    if str(df['EMPLOI_STATUTAIRE'][k]) == 'nan' : 

        libelle_avant_nan=df['LIBELLE_EMPLOI_GRADE'][k-1]
        libelle_du_nan=df['LIBELLE_EMPLOI_GRADE'][k]
        if libelle_avant_nan == libelle_du_nan :

            #si egalité des libellés, on remplace (df['EMPLOI_STATUTAIRE'][i])
            #df.iloc[k,9]=df['EMPLOI_STATUTAIRE'][k-1]
            df['EMPLOI_STATUTAIRE'][k]=df['EMPLOI_STATUTAIRE'][k-1]

2

C:\Users\Paul Guiraud\AppData\Local\Temp\ipykernel_8452\2421931598.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['EMPLOI_STATUTAIRE'][k]=df['EMPLOI_STATUTAIRE'][k-1]

In [412]:
hackhaton2[(hackhaton2.ID_CARRIERE==4015)]

,ID_CARRIERE,date_debut,date_fin,ETAT,CATEGORIE_EMPLOI,QUALITE,STATUT_AGENT,INDICE_BRUT,EMPLOI_STATUTAIRE,LIBELLE_EMPLOI_GRADE
1646,4015,01/01/2006,31/12/2006,1,A,T,T,449.0,NaN,AGENT DE MAITRISE QUALIFIE TI
1647,4015,01/01/2007,31/05/2007,1,A,T,T,450.0,NaN,AGENT DE MAITRISE PRINCIPAL TI
1648,4015,01/06/2007,31/12/2007,1,A,T,T,464.0,NaN,AGENT DE MAITRISE PRINCIPAL
1649,4015,01/01/2008,31/01/2008,1,A,T,T,464.0,NaN,AGENT DE MAITRISE PRINCIPAL
1650,4015,01/02/2008,12/02/2008,1,A,T,T,481.0,NaN,AGENT DE MAITRISE PRINCIPAL
1651,4015,13/02/2008,26/11/2008,1,A,T,T,464.0,NaN,AGENT DE MAITRISE PRINCIPAL
1652,4015,27/11/2008,17/12/2008,1,A,T,T,481.0,NaN,AGENT DE MAITRISE PRINCIPAL
1653,4015,18/12/2008,31/12/2008,1,A,T,T,464.0,NaN,AGENT DE MAITRISE PRINCIPAL
1654,4015,01/01/2009,26/04/2009,1,A,T,T,481.0,NaN,AGENT DE MAITRISE PRINCIPAL
1655,4015,27/04/2009,03/05/2009,1,A,T,T,481.0,NaN,AGENT DE MAITRISE PRINCIPAL
1656,4015,04/05/2009,31/12/2009,1,A,T,T,481.0,NaN,AGENT DE MAITRISE PRINCIPAL
1657,4015,01/01/2010,31/12/2010,1,A,T,T,481.0,NaN,AGENT DE MAITRISE PRINCIPAL
1658,4015,01/01/2011,17/03/2011,1,A,T,T,481.0,TTM2,AGENT DE MAITRISE PRINCIPAL
1659,4015,18/03/2011,01/04/2011,1,A,T,T,481.0,TTM2,AGENT DE MAITRISE PRINCIPAL
1660,4015,02/04/2011,30/05/2011,1,A,T,T,481.0,TTM2,AGENT DE MAITRISE PRINCIPAL
1661,4015,31/05/2011,08/06/2011,1,A,T,T,481.0,TTM2,AGENT DE MAITRISE PRINCIPAL
1662,4015,09/06/2011,30/11/2011,1,A,T,T,481.0,TTM2,AGENT DE MAITRISE PRINCIPAL
1663,4015,01/12/2011,31/12/2011,1,A,T,T,499.0,TTM2,AGENT DE MAITRISE PRINCIPAL
1664,4015,01/01/2012,06/01/2012,1,A,T,T,499.0,TTM2,AGENT DE MAITRISE PRINCIPAL
1665,4015,07/01/2012,13/01/2012,1,A,T,T,499.0,TTM2,AGENT DE MAITRISE PRINCIPAL
1666,4015,14/01/2012,31/12/2012,1,A,T,T,499.0,TTM2,AGENT DE MAITRISE PRINCIPAL
1667,4015,01/01/2013,16/06/2013,1,A,T,T,499.0,TTM2,AGENT DE MAITRISE PRINCIPAL
1668,4015,17/06/2013,22/06/2013,1,A,T,T,499.0,TTM2,AGENT DE MAITRISE PRINCIPAL
1669,4015,23/06/2013,31/12/2013,1,A,T,T,499.0,TTM2,AGENT DE MAITRISE PRINCIPAL
1670,4015,01/01/2014,31/01/2014,1,A,T,T,499.0,TTM2,AGENT DE MAITRISE PRINCIPAL
1671,4015,01/02/2014,20/10/2014,1,A,T,T,500.0,TTM2,AGENT DE MAITRISE PRINCIPAL
1672,4015,21/10/2014,23/10/2014,1,A,T,T,500.0,TTM2,AGENT DE MAITRISE PRINCIPAL
1673,4015,24/10/2014,16/12/2014,1,A,T,T,500.0,TTM2,AGENT DE MAITRISE PRINCIPAL
1674,4015,17/12/2014,31/12/2014,1,A,T,T,530.0,TTM2,AGENT DE MAITRISE PRINCIPAL
1675,4015,01/01/2015,31/12/2015,1,A,T,T,540.0,TTM2,AGENT DE MAITRISE PRINCIPAL
1676,4015,01/01/2016,31/12/2016,1,A,T,T,540.0,TTM2,AGENT DE MAITRISE PRINCIPAL
1677,4015,01/01/2017,13/02/2017,1,A,T,T,551.0,TTM2,AGENT DE MAITRISE PRINCIPAL
1678,4015,14/02/2017,17/02/2017,1,A,T,T,551.0,TTM2,AGENT DE MAITRISE PRINCIPAL
1679,4015,18/02/2017,30/07/2017,1,A,T,T,551.0,TTM2,AGENT DE MAITRISE PRINCIPAL
1680,4015,31/07/2017,06/08/2017,1,A,T,T,551.0,TTM2,AGENT DE MAITRISE PRINCIPAL
1681,4015,07/08/2017,22/10/2017,1,A,T,T,551.0,TTM2,AGENT DE MAITRISE PRINCIPAL
1682,4015,23/10/2017,25/10/2017,1,A,T,T,551.0,TTM2,AGENT DE MAITRISE PRINCIPAL
1683,4015,26/10/2017,31/12/2017,1,A,T,T,551.0,TTM2,AGENT DE MAITRISE PRINCIPAL
1684,4015,01/01/2018,06/02/2018,1,A,T,T,551.0,TTM2,AGENT DE MAITRISE PRINCIPAL
1685,4015,07/02/2018,10/02/2018,1,A,T,T,551.0,TTM2,AGENT DE MAITRISE PRINCIPAL
1686,4015,11/02/2018,26/11/2018,1,A,T,T,551.0,TTM2,AGENT DE MAITRISE PRINCIPAL
1687,4015,27/11/2018,01/12/2018,1,A,T,T,551.0,TTM2,AGENT DE MAITRISE PRINCIPAL
1688,4015,02/12/2018,31/12/2018,1,A,T,T,551.0,TTM2,AGENT DE MAITRISE PRINCIPAL
1689,4015,01/01/2019,31/12/2019,1,A,T,T,586.0,TTM2,AGENT DE MAITRISE PRINCIPAL

In [219]:
###TEST 2 ####
###########



ind=hackhaton['ID_CARRIERE'][351]
df=hackhaton[(hackhaton.ID_CARRIERE == ind)]

df = df.reset_index()
## Nombre de ligne avant 2011

i=0
while int(df.date_debut[i][6:10])!=2011 : 
    i=i+1
print(i)

##Drop les lignes avant 2011

df.drop([n for n in range (0,i)], inplace=True)


## comparer le libelle avant 'Nan' avec celui pendant 'Nan', si c'est les meme on remplace sinon rien (quand c'est les dernières années en 'Nan') 

for k in range (i,len(df)+4): 

    if str(df['EMPLOI_STATUTAIRE'][k]) == 'nan' : 

        libelle_avant_nan=df['LIBELLE_EMPLOI_GRADE'][k-1]
        libelle_du_nan=df['LIBELLE_EMPLOI_GRADE'][k]
        if libelle_avant_nan == libelle_du_nan :

            #si egalité des libellés, on remplace (df['EMPLOI_STATUTAIRE'][i])
            #df.iloc[k,9]=df['EMPLOI_STATUTAIRE'][k-1]
            hackhaton['EMPLOI_STATUTAIRE'][df['index'][k]]=df['EMPLOI_STATUTAIRE'][k-1]

4

C:\Users\Paul Guiraud\AppData\Local\Temp\ipykernel_8452\1311806691.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hackhaton['EMPLOI_STATUTAIRE'][df['index'][k]]=df['EMPLOI_STATUTAIRE'][k-1]

In [294]:
ind=hackhaton['ID_CARRIERE'][483]

In [295]:
df=hackhaton2[hackhaton2.ID_CARRIERE== ind]

In [1]:
df

NameError: name 'df' is not defined

In [ ]:

ind=0
arret=0
for t in L : 
    #arret=arret+1
    #if arret == 100 :
        #break
    print(t ,'sur' , len(L))

    if hackhaton2['ID_CARRIERE'][t] == ind :
        #print('t et t-1 sont au sein du même individu')
        pass
    
    ind=hackhaton2['ID_CARRIERE'][t]
    #print(ind)
    if len(df)>1:
        
        df=hackhaton2[hackhaton2.ID_CARRIERE== ind]

        ## Nombre de ligne avant 2011
        df = df.reset_index()

        i=0           
        while int(df.date_debut[i][6:10])!=2011 : 
                i=i+1
        ##Drop les lignes avant 2011
        df.drop([n for n in range (0,i)], inplace=True)

        if len(df)>1:

            for k in range (i+1,len(df)+i): 

                if str(df['EMPLOI_STATUTAIRE'][k]) == 'nan' : 

                    libelle_avant_nan=df['LIBELLE_EMPLOI_GRADE'][k-1]
                    libelle_du_nan=df['LIBELLE_EMPLOI_GRADE'][k]
                    if libelle_avant_nan == libelle_du_nan :

                        #si egalité des libellés, on remplace (df['EMPLOI_STATUTAIRE'][i])
                        #df.iloc[k,9]=df['EMPLOI_STATUTAIRE'][k-1]
                        hackhaton2['EMPLOI_STATUTAIRE'][df['index'][k]]=df['EMPLOI_STATUTAIRE'][k-1]

In [ ]:
### V3 ####


ind=0
arret=0
compteur = 0
for t in L : 
    #arret=arret+1
    #if arret == 100 :
        #break
    compteur = 1+ compteur
    print(compteur ,'sur' , len(L))

    if hackhaton2['ID_CARRIERE'][t] == ind :
        #print('t et t-1 sont au sein du même individu')
        pass
    
    ind=hackhaton2['ID_CARRIERE'][t]
    #print(ind)
    
    if len(df)<2:
        pass
        
    df=hackhaton2[hackhaton2.ID_CARRIERE== ind]

    ## Nombre de ligne avant 2011
    df = df.reset_index()

    i=0           
    while str(df['EMPLOI_STATUTAIRE'][i]) == 'nan' and (i+1 < len(df)) :
            i=i+1
    
    ##Drop les lignes avant 2011
    df.drop([n for n in range (0,i)], inplace=True)

    if len(df)<2:
        pass

    for k in range (i+1,len(df)+i): 

        if str(df['EMPLOI_STATUTAIRE'][k]) == 'nan' : 

            libelle_avant_nan=df['LIBELLE_EMPLOI_GRADE'][k-1]
            libelle_du_nan=df['LIBELLE_EMPLOI_GRADE'][k]
            if libelle_avant_nan == libelle_du_nan :

                #si egalité des libellés, on remplace (df['EMPLOI_STATUTAIRE'][i])
                #df.iloc[k,9]=df['EMPLOI_STATUTAIRE'][k-1]
                hackhaton2['EMPLOI_STATUTAIRE'][df['index'][k]]=df['EMPLOI_STATUTAIRE'][k-1]